<!DOCTYPE html>
<html>
<head>
	<title>Upload a Photo</title>
		<link rel="stylesheet" type="text/css" href="/static/css/upload.css">

</head>
<body>
	<header>UPLOAD PHOTO</header>
	<form id="form" class="topBefore" action="/upload" method="post" enctype=multipart/form-data>
		<input  id="name" type="text" name="name" placeholder="Name">
		<br>
		<input id="name" type="text" name='op' placeholder="Poster">
		<br>
		<input id="submit" type="file" name="file" placeholder="image" required="">
		<br>
		<input id="name" type="text" name="description" placeholder="Description">
		<br>
		<input id="name" type="text" name="location" placeholder="Location">
		<br>
		<input id="submit" type="submit" value="submit">
	</form>



</body>
</html>